.credits {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
  }
  
  .creditsItem {
    margin: 10px;
    text-align: center;
  }
  
  .creditsName {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .creditsImg {
    width: 150px;
    height: 225px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }